*
{
    margin: 0;
    user-select: none;
}
button, input
{
    outline: none;
}

:root
{
    --bg-primary: #231f20;
    --bg-secondary: #414042;
    --bg-blue: #052555;
    --bg-black:#1A2026;
    --bg-white:#f1f6fb ;
    --bg-light-blue:#03A9F4 ;
    --bg-dark: #01142F;
    --bg-light: #51EAFF;
    --bg-light_: #D7FFFE;
    --bg-light-c: #48CFAF;
    --bg-blue-gray: #004156;
    --bg-light-blue_: #0043A4;
    --bg-light-purple: #4400b2 ;
}

body
{
    font-family: "verdana", "tahoma";
    background-color:   var(--bg-black);
}

ul
{
    padding: 0;
    list-style: none;
}


.mx-auto
{
    margin-right: 15%;
    margin-left: 15%;
}
.px-auto
{
    padding-right: 15%;
    padding-left: 15%;
}


.top {
    height: 30px;
    line-height: 30px;
    background-color: var(--bg-light-blue);
    background-image:linear-gradient(to bottom,  rgba(133, 130, 130, 0.6),  var(--bg-blue), var(--bg-blue));


    color: var(--bg-light-blue);
    justify-content: space-between;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 2px 10px var(--bg-light-purple);
}
.top button
{
    cursor: pointer;
}

.top-jan
{
    font-size: 19px;
}

.top-btn 
{
    position: relative;
    top: -5px;
    display: flex;
}
.top-btn button
{
    height: 40px;
    display: inline-block;
    width: 90px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px
}
.top-btn button:first-child
{
    background-color:rgb(233, 114, 114);
    background-image:linear-gradient(to bottom,  rgba(133, 130, 130, 0.5),  #700, #700);
    color: white;
}
.top-btn button:last-child
{
    background-color: #96cdec;
    background-image:linear-gradient(to bottom,  rgba(133, 130, 130, 0.5),  #143D55, #143D55);
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 3px 0px 3px rgb(43, 43, 43);
    transition: all 400ms ;
    
}
/* .top-btn button:first-child:hover
{
    background-color: rgba(119, 0, 0, 1);
}
*/
.top-btn button:last-child:hover
{
    
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,  rgba(255, 230, 230, 0.3),  var(--bg-blue-gray), var(--bg-blue-gray));

} 

.top-ad button
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),  var(--bg-light-blue), var(--bg-light)) ;
    padding: 10px 35px 10px 25px;
    box-shadow: -2px 0px 3px #333;
    border: none;
    color: white;
    position: relative;
    top: -2px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-size: 290px;
}

.top-ad button::after
{
    display: inline-block;
    content: '';
    width: 20px;
    height: 32px;
    background-image: url('images/gen.webp');
    position: absolute;
    top: 2px;
    right: 5px;
}

.logo-area
{
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ads-area
{
    color: gray;
    text-transform: capitalize;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;

}

.menu
{
    height: 30px;
    background-color: var(--bg-light-blue);
    background-image:linear-gradient(to bottom,  rgba(133, 130, 130, 0.6),  var(--bg-blue), var(--bg-blue));
    position: relative;
}

.menu ul
{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto) 1fr;
    column-gap: 1px;
    position: relative;
    overflow: hidden;
}
.menu ul li a
{
    color: white;
    text-decoration: none;
    /* width: 100%; */
    padding: 6px 10px 6px 40px;
    display: inline-block;
    transition: all 200ms;
}
.menu ul li a label
{
    position: relative;
    padding: 7px 10px;
    cursor: pointer;
}

.m-6
{
    /* padding: 0 5px !important; */
    width: 100px;
    padding-left: 20px !important;
}

.menu ul li
{
    border-right: 1px solid white;
    position: relative;
    overflow: hidden;
}

.menu ul li:last-child
{
    text-align: right;
    border: none;
}
.menu ul li:last-child a
{
    padding: 6px 0;
}


.menu ul li a:not(.m-6)::before
{
    background-image: url(images/gen.webp);
    content: '';
    display: inline-block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.m-1::before
{
    background-position: -28px -94px;
}
.m-2::before
{
    background-position: -28px -64px;
}
.m-3::before
{
    background-position: -28px -31px;
}
.m-4::before
{
    background-position: -28px -124px;
}
.m-5::before
{
    background-position: -28px 1px;
}



.search-bar
{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-black);

    height: 61px;
    overflow: hidden;
    align-items: center;
    padding-left: 20px;
}
.search-bar .search input::placeholder
{
    color: var(--bg-white);
}
.search-bar .search input
{
    padding: 10px;
    height: 22px;
    width: 400px;
    border: 1px solid transparent;
    background-color: var(--bg-secondary);
}
.search-bar .search button
{
    height: 44px;
    border-radius: 5px;
    border: 1px outset #999;
    padding: 0 20px;
    color: white;
    font-weight: 600;
    background-color: var(--bg-light-blue);
    background-image:linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),   var(--bg-blue),  var(--bg-blue));
    box-shadow: 1px 2px 9px var(--bg-blue);
}
.search-bar .search button:hover
{
    background-color: orange;
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),  rgba(255, 144, 0.3), rgba(255, 144, 0.3));
}

.sign
{
    height: 100%;
    width: 350px;
}
.sign button
{
    width: 100%;
    height: 100%;
    border: 1px solid var(--bg-light-blue);
    border-top-color: transparent;
    border-bottom-color: transparent;
    font-weight: 600;
    transition: all 200ms ;
    color: var(--bg-light-blue);
    font-size: 17px;
    position: relative;
    background-color: transparent;
}
.sign button::before
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(./images/gen.webp);
    display: inline-block;
    content: '';
    background-position: -65px -38px;
    top: 3px;
    left: 90px;
}


.slider
{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-image: url(./images/wbl_en.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 3px 5px gray;
    margin-bottom: 5px;
}
.slider h3
{
    margin: 10px 0;
    color: #ecea3f;
    font-weight: normal;
    font-size: 22px;
}
.slider p
{
    line-height: 30px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.slider button
{
    display: inline-block;
    margin-top: 10px;
    padding: 0 15px;
    height: 35px;
    color: white;
    background-color: #a86b1b !important;
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),  rgba(255, 144, 0.3), rgba(255, 144, 0.3)) ;
    box-shadow: 0px 2px 4px rgba(131, 124, 124, 0.5);
    border: 1px outset #999;
    border-radius: 10px;
    transition: all 400ms;
}
.ad-btn
{
    transition: all 400ms ;
}
.slider button:hover, .ad-btn:hover
{
    background-color: var(--bg-blue-gray);
    background-image:linear-gradient(to bottom,  rgba(255, 255, 255, 0.6),  var(--bg-blue),  rgb(36, 75, 114));


}

.hilight
{
    color: orange;

}

.hover
{
    transition: all 300ms;
    outline: none;
}

.hover:hover
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue), var(--bg-light-blue));
    color: white !important;
}

/* //////////////////////////// Grid Policy */

.grid-policy
{
    display: grid;
    column-gap: 15px;
    row-gap: 15px; 
}

.grid-policy.landing
{
    display: grid;
    grid-template-areas: 'real jobs misc services ads'
    'cars cars cars services ads';
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    grid-template-rows: auto auto;
    column-gap: 15px;
    row-gap: 15px;
}

.a-apartments.grid-policy
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.grid-policy.landing > div 
{
    overflow: hidden;
}
.real.landing
{
    grid-area: real;
}
.jobs.landing
{
    grid-area: jobs;
    
}
.misc.landing
{
    grid-area: misc;
    
}
.services.landing
{
    grid-area: services;
    
}
.ads.landing
{
    grid-area: ads;
    
}
.ads img
{
    width: 100%;
}
.cars.landing
{
    grid-area: cars;
    
}
.services
{
    overflow: hidden;
}
.real
{
    /* grid-area: real; */
    border: 1px solid #CEDaF4;
    
}
.jobs
{
    /* grid-area: jobs; */
    border: 1px solid #CEDaF4;
    
}
.misc
{
    /* grid-area: misc; */
    border: 1px solid #CEDaF4;
    
}
.services
{
    /* grid-area: services; */
    border: 1px solid #CEDaF4;
    align-self: start;
    grid-row: 1 / span 2;
    
}
.ads-right
{
    width: 300px;
    /* position: ab; */
    position: relative;
}
.abcd
{
    display: flex;
    height: 200px;
    border: 1px solid var(--bg-light-blue);
    position: absolute;
    width: 298px;
    right: 0;
    z-index: 99999999;
    background-color: var(--bg-light-blue);
    transition: 300ms all;
    overflow: hidden;
}
.abcd:hover
{
    
    width: 600px;
}
.abcd > p
{
    font-size: 14px;
    height: 100%;
    line-height: 25px;
    padding: 10px;
    width: 100%;
    
}
.abcd:hover img
{
    height: 100%;
    opacity: 1;
    transition: 300ms all;
}
.ads-right img
{
    opacity: 0.8;
    height: 90px;
    transition: 300ms all;
}
.ads
{
    grid-area: ads;
    
}
.abc-ad::after
{
    width: 25px;
    height: 45px;
    /* background-color: rgb(110, 108, 108); */
    content: ' ';
    display: inline-block;
    position: absolute;
    background-image: url('https://www.mourjan.com/css/5.4.9/i/opde.webp');
    
    top: -23px;

}
.abc-ad
{
    position: absolute;
    bottom: -12px;
    padding: 0 !important;
    padding-bottom: 8px !important;
    padding-right: 30px !important;
    padding-left: 5px !important;
    border-top-right-radius: 10px;
    left: 0;
    width: fit-content !important;
    height: fit-content !important;
    background-color: #a00;
    color: white;
    font-size: 12px !important;
}
.ads img
{
    width: 100%;
}
.cars
{
    grid-area: cars;
    border: 1px solid #CEDaF4;
    
}

.list-header
{
    padding: 10px 0 10px 50px;
    font-weight: 600;
    color: var(--bg-light);
    background-color: var(--bg-light-blue_);
    background-image:linear-gradient(to bottom,    rgba(255, 255, 255, 0.3) ,var(--bg-light-blue_),  var(--bg-blue)) ;
    position: relative;
    overflow: hidden;
}
.list-header::before
{
    background-image: url(images/gen.webp);
}
.icons::before
{
    content: '';
    display: inline-block;
    width: 40px;
    height: 31px;
    position: absolute;
    top: 8px;
    left: 0;
}
.bg-light
{
    background-color: #f8f8f8;
}

.real > h3::before, .f-rea::before
{
    background-position: -25px -95px;
    
}

.jobs > h3::before, .f-job::before
{
    background-position: -28px -31px;
    
}


.misc > h3::before, .f-mic::before
{
    background-position: -25px 1px;
    
}

.services > h3::before, .f-ser::before
{
    background-position: -25px -124px;
    
}

.cars > h3::before, .f-car::before
{
    background-position: -25px -64px;
}

.list-data
{
    padding: 0;
    list-style: none;
}
.list-data > li
{
    width: 100%;
}
.list-data > li a
{
    background-color: var(--bg-blue);
    text-decoration: none;
    color: var(--bg-light-c);
    padding: 15px 0 15px 50px;
    display: inline-block;
    width: 100%;
    position: relative;
    
}
.list-data > li a:not(.show-btn)
{
    border-bottom: 2px solid #ffffff;
}
.real .list-data > li a:not(.show-btn)::before
{
    background-image: url(./images/realestate.webp);
}

.list-data > li a:hover
{
    text-decoration: underline;
}

.apr::before
{
    background-position: 0 -5px;

}
.vil::before
{
    background-position: 318px -5px;

}
.lan::before
{
    background-position: 160px -5px;

}
.stu::before
{
    background-position: 360px -5px;

}
.sha::before
{
    background-position: 360px -5px;

}

.show-btn
{
    font-weight: 600;
    font-size: 14px;
    position: relative;
}
.show-btn::after
{
    display: inline-block;
    content: '';
    width: 19px;
    height: 14px;
    background-image: url('./images/gen.webp');
    background-position: -86px -96px;
    position: absolute;
    top: 17px;
}

.jobs .list-data > li a:not(.show-btn)::before
{
    background-image: url(./images/jobs.webp);
}
.tou::before
{
    background-position: -123px -3px;
}
.dri::before
{
    background-position: -43px -43px;
}
.sal::before
{
    background-position: -80px -3px;
}
.eng::before
{
    background-position: 120px -3px;
}
.cra::before
{
    background-position: -320px -124px;
}


.misc .list-data > li a:not(.show-btn)::before
{
    background-image: url(./images/misc.webp);
}

.who::before
{
    background-position: -3px -163px;
}

.fur::before
{
    background-position: -163px 3px;
}
.hom::before
{
    background-position: -123px -43px;
}
.foo::before
{
    background-position: -123px -123px;
}
.lic::before
{
    background-position: -83px -43px;
}

.services .list-data > li a::before
{
    background-image: url('images/service.webp');
}

.cars .list-data > li a::before
{
    background-image: url('images/cars.webp');
}

.toy::before
{
    background-position: -203px 0px;
}
.nis::before
{
    background-position: -83px -40px;
}

.inf::before
{
    background-position: -243px -120px;
}
.isu::before
{
    background-position: -243px -160px;
}
.lex::before
{
    background-position: -123px -40px;
}
.jac::before
{
    background-position: -123px -280px;
}

.hyu::before
{
    background-position: -283px -40px;
}

.jag::before
{
    background-position: -323px -40px;
}

.hot-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 6px;
}

footer
{
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-image: linear-gradient(to bottom, var(--bg-black), var(--bg-dark));
    background-position: center;
    background-size: 100% 100%;
    justify-content: center;
}

footer.apartments
{
    grid-template-columns: repeat(3, auto);
}


.footer-headers
{
    color: var(--bg-light-c);
    padding: 10px 20px;
    border-left: 1px solid white;

}

footer > div > ul > li, dl > dd, dl > dt
{
    width: 100%;
    overflow: hidden;
}
footer  a
{
    display: inline-block;
    color: var(--bg-light);
    text-decoration: none;
    padding: 15px 20px;
    transition: all 300ms;
    width: 100%;
    position: relative;

}
footer  a:hover
{
    color: var(--bg-dark);
    background-color: var(--bg-light-blue);
}

/* footer > div
{
    border-left: 1px solid white;
} */

.classifieds > ul > li > a, dl > dt > a
{
    padding-left: 55px;
    padding-right: 100px;
}

.classifieds > ul > li > a::before
{
    background-image: url(images/gen.webp);
}
footer  ul > li, footer dt, footer dd
{
    border-left: 1px solid white;
}
.mourjan > ul > li > a
{
    padding-right: 70px;
}
.mourjan > ul > li > a::before, dl > dt > a::before
{
    width: 13px;
    height: 30px;
    content: '';
    display: inline-block;
    position: absolute;
    left: -15px;
    top: 10px;
    background-image: url('./images/footerhover.webp');
    transition: 300ms all;
}
.mourjan > ul > li > a:hover::before
{
    left: 2px;
}

dl > dt > a
{
    position: relative;
}
dl > dt > a::before
{
    left: 10px;
    top: 14px;
    width: 32px;
    height: 23px;
    background-image: url('./images/all.webp');
}

.yello-card 
{
    margin: 15px;
    border: 1px solid #060300;
    background-color: #fed509;
    padding: 13px;
    background-image: url("images/download.png");
    overflow: hidden;
    max-width: 500px;
    align-self: start;
}
.yello-card ul
{
    padding-left: 20px;
    list-style: inside;
    text-align: left;
    height: 92%;
    line-height: 20px;
}
.yello-card h2
{
    font-size: 20px;
    padding-left: 16px;
    font-size: 16px;

}
.yello-card ul li
{
    border: unset;
    font-size: 15px;
    padding: 10px 0;
}
.yello-card ul li > span
{
    padding-left: 20px;
    display: inline-block;
}

.services img
{
    width: 100%;
}

.s-menu
{
    display: flex;
    width: 100%;
    color: black;
    overflow: hidden;
    background-color: var(--bg-blue);
    background-image: linear-gradient(to bottom,  rgba(255, 230, 230, 0.3),  var(--bg-black), var(--bg-black) );

}
.s-menu > div
{
    width: 100%;
}

.s-menu div a
{
    text-decoration: none;
    color: var(--bg-light);
    font-weight: normal;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    top: 0;
    right: 0;
    width: 100%;
    border-left: 1px solid var(--bg-light);
    text-transform: capitalize;
    font-size: 14px;
    transition: all 300ms ;
}

.s-menu div a:hover
{
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,  rgba(255, 230, 230, 0.3),  var(--bg-blue-gray), var(--bg-blue-gray));
    color: white;
}

.yello-card ul, .yello-card h2 
{
    background-color: #fed509;
}

.apar-lists-header
{
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue_), var(--bg-light-blue));
    color: white;
    padding: 10px;
    box-shadow: 0px 3px 5px rgb(211, 201, 201);
}


.s-setting > ul, .s-apart > ul
{
    background-color: var(--bg-light-blue_);
}

.apar-lists  > li > a
{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: var(--bg-light);
    border-bottom: 1px solid var(--bg-light-blue);
    transition: 300ms all;
}

.list-header.apar.icons
{
    background-color: var(--bg-black);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),  var(--bg-blue), var(--bg-dark));

}
.apar-lists > li > a:hover
{
    color: white;    
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,  rgba(255, 230, 230, 0.3),  var(--bg-blue-gray), var(--bg-blue-gray));
}

.apar-menu 
{
    display: flex;
    grid-column: 2 / span 4;
    align-self: start;
    width: 100%;
}


.apar-menu > div > a
{
    display: inline-block;
    color: var(--bg-light);
    text-decoration: none;
    padding: 10px;
    position: relative;
    transition: 300ms all;
    
}
.apar-menu > div:first-child > a
{
    background-color: var(--bg-primary);
}
.first-one
{
    padding-left: 30px !important;
    background-color: var(--bg-dark);
    
}

.second-one
{
    padding-left: 30px !important;
    background-color: var(--bg-blue);

}
.apar-menu > div > a:hover
{
    background-color: var(--bg-light-c);
    color: var(--bg-primary);
}
.apar-menu > div > a:hover::after
{
    border-left-color: var(--bg-light-c) !important;
}
.apar-menu > div > a::before
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 20px solid white;
    position: absolute;
    top: 40px;
    margin-top: -40px;
    margin-right: 1px;
    left: 100%;
    z-index: 99;
    transition: 200ms all;
}
.apar-menu > div > a::after
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 20px solid var(--bg-primary);
    position: absolute;
    top: 40px;
    margin-top: -40px;
    left: 100%;
    z-index: 999;
    transition: 200ms all;
}
.first-one::after
{
    border-left-color: var(--bg-dark) !important;

}
.second-one::after
{
    border-left-color: var(--bg-blue) !important;

}
.third
{
    padding-left: 40px;
    padding-top: 10px;
    background-color: var(--bg-secondary);
    color: var(--bg-light);
}
.apar-menu
{
    background-color: var(--bg-secondary);

}
.content-data
{
    grid-column: 2 / -1;
}
.content-data > .card-footer.touched
{
    position: relative;
    top: -15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination
{
    border-radius: 10px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: grid !important;
    grid-template-columns: repeat(3, auto) 1fr;
    overflow: hidden;
    background-color: var(--bg-light);
    column-gap: 1px;
}
.pagination > button
{
    background-color: var(--bg-light);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),  var(--bg-light-blue), var(--bg-light-blue_));
    color: var(--bg-white);
    transition: all 300ms;
}

.pagination > button.active, .pagination > button:hover
{
    background-color: var(--bg-black);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.3),  var(--bg-blue), var(--bg-dark));
    color: var(--bg-light);
}
.pagination > button
{
    display: inline-block;
    padding: 7px 20px;
    border: none;
}

.f-row
{
    display: flex;
    padding: 10px;
    padding-right: 40px;
    position: relative;
}
.f-row img
{
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    opacity: 0.5;
}
.f-row p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    
}
.f-row p a
{
    color: var(--bg-light);
}


.data-card
{
    display: grid;
    min-height: 150px;
    margin-bottom: 35px;
    transition: 300ms all;
}

.bg-yello
{
    background-color: var(--bg-blue);
    color: var(--bg-white);
}

.data-card:hover
{
    box-shadow: 0 3px 5px rgb(110, 108, 108);
    
}
.data-card img
{
    transition: 300ms;
}
.data-card:hover img
{
    opacity: 1;
}

.card-footer
{
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,var(--bg-light-blue_), var(--bg-light-blue_), rgba(133, 130, 130, 0.5));
    font-size: 14px;
    line-height: 30px;
}

.card-footer p
{
    padding-left: 10px;
    color: var(--bg-light);
}

.f-row::after
{

    content: ' ';
    display: inline-block;
    width: 20px ;
    height: 37px;
    position: absolute;
    right: 10px;
    bottom: 0;
    background-image: url('https://www.mourjan.com/css/5.4.9/i/opde.webp');
    background-size: contain;
}

.card-footer
{
    display: flex;
}
.card-footer a
{
    display: inline-block;
    text-decoration: none;
    color: var(--bg-light);
    position: relative;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 10px;
}
.card-footer a::before
{
    content: ' ';
    display: inline-block;
    width: 37px;
    position: absolute;
    left: 0;
    min-height: 30px;
    max-height: 30px;
    background-image: url("images/gen.webp");
    background-position: -25px -95px;
}
.bg-ligh
{
    background-color: var(--bg-secondary);
    color: var(--bg-white);
}

.data-card.lst
{
    height: fit-content;
}
.f-row.list
{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 !important;
    column-gap: 2px;
    align-self: start;
    background-color: var(--bg-light-c);
    height: fit-content;
}
.f-row.list a
{
    padding: 10px 0;
    padding-left: 40px;
    align-self: start;
    position: relative;
    background-color: var(--bg-light-blue);
    
}
.f-row.list a:hover
{
    text-decoration: underline;
}
.f-row.list a::before
{
    display: inline-block;
    content: ' ';
    width: 35px;
    /* height: 100%; */
    top: 5px;
    left: 0px;
    position: absolute;
    background-image: url('images/realestate.webp');
}
a{
    text-decoration: none;
    color: inherit;
}
.f-row.list::after
{
    display: none !important;
}

.a-fav
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: rgba(0, 67, 164, 0.05);
    justify-content: space-between;
    padding: 20px 0;
}

.self-form
{
    background-color: var(--bg-light-blue_);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
    height: 450px;

}

.form-header
{
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,var(--bg-light-blue_), var(--bg-light-blue_), rgba(133, 130, 130, 0.5));
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
}

.form-control 
{
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.form-control input, .form-control label 
{
    display: block;
    text-align: left;
    width: 85%;
    margin: 5px 20px;
    color: white;
}
.form-control input
{
    padding: 10px;
    border: none;
    background-color: var(--bg-blue);
}
.form-control input::placeholder
{
    color: var(--bg-light-blue);
}

.form-control.checkb input
{
    display: inline-block !important;
    width: fit-content;
    margin: 0;
}

.a-fav-btn
{
    margin: 20px 0;
    margin-top: auto;
    display: inline-block;
    width: 55%;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,var(--bg-light-blue), var(--bg-light-blue), rgba(133, 130, 130, 0.5));
    color: white;
    border: none;
    align-self: center;
}

.form-link
{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    align-self: center;
    color: var(--bg-light-blue);
}
.form-link > a
{
    display: inline-block;
    border-top: 1px solid var(--bg-light);
    padding: 10px 8%;
}
.form-link > a:hover
{
    text-decoration: underline;
}

.third-form
{
    width: 400px;
    background-color: var(--bg-blue-gray);
    overflow: hidden;
    border-radius: 10px;
    align-self: flex-start;
    padding-bottom: 20px;
}

.third-form img
{
    display: block;
    margin: 30px auto;

}
.third-form button
{
    display: block;
    margin: 30px auto;
}

.third-form div
{
    text-align: center;
    color: var(--bg-light-c);
}
.third-form div a
{
    
    color: var(--bg-light);
}

.facebook
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom,var(--bg-blue), var(--bg-blue-gray), rgba(133, 130, 130, 0.5));
}
.linked
{
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,var(--bg-light-blue), var(--bg-blue), rgba(133, 130, 130, 0.5));
}

.signup
{
    background-color: transparent;
}

.a-fav.signup-main
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: start;
    height: 400px;
}

.notice
{
    color: var(--bg-light);
    grid-column: 1 / 3;
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom,var(--bg-light-blue), var(--bg-light-purple), rgba(133, 130, 130, 0.5));
    border-radius: 10px;
    padding-left: 80px;
    position: relative;
}
.notice::before
{
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 49px;
    height: 70px;
    left: 10px;
    top: 35%;
    background-image: url('https://www.mourjan.com/css/5.4.9/i/osk.webp');
}
.notice ul
{
    list-style: outside;
}
.notice p
{
    padding: 10px 0;
    font-size: 18px;
    color: var(--bg-white);
}
.notice ul li
{
    margin: 10px 0;
    font-size: 14px;
}

.notice.signup
{
    grid-column: 1 / 2;
    text-align: center;
    padding: 30px 0 !important;
    align-self: start;
    position: relative;
    top: -200px;
}
.notice.signup::before
{
    display: none;
}
.notice.signup input
{
    width: 400px;
    display: block;
    padding: 10px;
    margin: 20px auto;
}

.text-signup
{
    grid-column: 1 / 2;
    
    color: var(--bg-light);
    margin: 20px 0;
    align-self: start;
}
.register-btn
{
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    color: var(--bg-light);
    border: none;
    background-color: var(--bg-light-blue);
    background-image: linear-gradient(to bottom,var(--bg-light-blue_), var(--bg-light-blue_), rgba(133, 130, 130, 0.5));
}
.aside
{
    width: 400px;
    color: var(--bg-light);
    font-size: 32px;
    text-align: center;
}
.aside p
{
    margin: 20px 0;
}

.toggle-btn
{
    position: fixed;
    right: 0;
    top: 100px;
    display: flex;
    align-items: center;
    color: var(--bg-light-blue);
    z-index: 99999999999;
}

.toggle-btn label
{
    width: 60px;
    display: inline-block;
    height: 30px;
    border-radius: 25px;
    background-color: #12c75e;
    border: 3px solid #12c75e;
    position: relative;
}
.toggle-btn label::before
{
    content: ' ';
    width: 30px;
    height: 30px;
    background-color: var(--bg-white);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: 300ms all;
    
}
.toggle-btn input
{
    display: none;
}
.toggle-btn input:checked + label::before
{
    background-color: var(--bg-primary);
    left: 30px;
}

.alg::before
{
    background-position: 0px -215px;
}
.bah::before
{
    background-position: 0 0;
}
.egy::before
{
    background-position: 0 -24px;
}
.emi::before
{
    background-position: -32px -168px;
}
.ira::before
{
    background-position: 0px -48px;
}
.jor::before
{
    background-position: 0px -72px;
}
.kuw::before
{
    background-position: 0px -96px;
}
.leb::before
{
    background-position: 0px -120px;
}
.mor::before
{
    background-position: 0px -168px;
}
.oma::before
{
    background-position: -32px 0px;
}
.qat::before
{
    background-position: -32px -48px;
}
.sau::before
{
    background-position: -32px -72px;
}
.tun::before
{
    background-position: -32px -144px;
}
.yem::before
{
    background-position: 0px -192px;
}
dl > dd > a
{
    padding-left: 75px;
}


.mt-4
{
    margin-top: 40px;
}


.text-danger
{
    color: var(--bg-white);
}
.menu-button
{
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
    color: white;
}
.menu-button label
{
    display: inline-block;
    color: white;
    /* position: relative; */
    right: 60px;
    position: absolute;
    /* top: -10px; */
}
/* ////////////////////////////////////////////////////// */


._reasestate
{
    position: absolute;
    background-color:var(--bg-blue);
    overflow: hidden;
    z-index: 9999999;
    top: 30px;
    width: 100%;
    height: 0;
    height: 0;
    transition: all 300ms;
    visibility: hidden;
    z-index: 999999999;
}

#reasestate:checked ~ .realestate-menu, #cars:checked ~ .cars-menu, #jobs:checked ~ .jobs-menu, #services:checked ~ .services-menu, #misc:checked ~ .misc-menu
{
    height: 210px;
    visibility: visible;
}

#reasestate:checked ~ .menu-ul .m-1
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue), var(--bg-light-blue));
}

#cars:checked ~ .menu-ul .m-2
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue), var(--bg-light-blue));
}
#jobs:checked ~ .menu-ul .m-3
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue), var(--bg-light-blue));
}
#services:checked ~ .menu-ul .m-4
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue), var(--bg-light-blue));
}
#misc:checked ~ .menu-ul .m-5
{
    background-color: var(--bg-light-blue_);
    background-image: linear-gradient(to bottom, rgba(133, 130, 130, 0.5), var(--bg-light-blue), var(--bg-light-blue));
}

.top-list
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.top-list > div 
{
    border-bottom: 1px solid white;
}
.top-list > div > a
{
    color: var(--bg-light-c);
    display: inline-block;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    
}
.ic::before
{
    content: ' ';
    /* background-color: red; */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 10px;
}
.top-list > div > a::before
{
    background-image: url('./images/service.webp');
}
.top-list > div > a:hover
{
    text-decoration: underline;
}

/* //////////////////////////////////////////////////////// Comment */
@media all and (max-width: 1650px)
{
    .mx-auto
    {
        margin-right: 10%;
        margin-left: 10%;
    }
    .px-auto
    {
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media all and (max-width: 1450px)
{
    .mx-auto
    {
        margin-right: 5%;
        margin-left: 5%;
    }
    .px-auto
    {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media all and (max-width: 1280px)
{
    .mx-auto
    {
        margin-right: 2%;
        margin-left: 2%;
    }
    .px-auto
    {
        padding-right: 2%;
        padding-left: 2%;
    }
    .notice.import
    {
        grid-column: 1 / 3;
    }
    .a-fav.fav
    {
        grid-template-columns: repeat(2, 1fr) !important;
        justify-items: center;
    }

    
}

@media all and (max-width: 1230px)
{
    .a-apartments.grid-policy
    {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    }
    
    .grid-policy.landing
    {
        display: grid;
        grid-template-areas: 'real jobs misc '
        'cars cars services'
        '. . ads'
        ;
        grid-template-columns: repeat(3, 1fr);
    }
    .content-data
    {
        grid-column: 1 / -1 !important;
        /* grid-row: 2 / 4 !important; */
    }
    
    .apar-menu 
    {
        grid-column: 1 /  3;
        grid-row: 1 / 2;
    }
    .ads-right
    {
        grid-column-start: 3;
        grid-row-start: 3;
        top: -789px;
    }
    .services
    {
        grid-row: 1 / 3;
        
    }

    
    #reasestate:checked ~ .realestate-menu, #cars:checked ~ .cars-menu, #jobs:checked ~ .jobs-menu, #services:checked ~ .services-menu, #misc:checked ~ .misc-menu
    {
        height: 250px;
        visibility: visible;
    }
    #reasestate:checked ~ .realestate-menu
    {
        height: 290px;
    }
    
}


@media all and (max-width: 1162px)
{
    .ads-right
    {
        top: -1100px;
    }
    footer.landing
    {
        grid-template-columns: repeat(3, auto);
    }
}
@media all and (max-width: 1002px)
{
    .ads-right
    {
        top: -1600px;
    }
}
@media all and (max-width: 936px)
{
    .content-data
    {
        grid-column: 1 / span 4 !important;
    }
    .apar-menu 
    {
        grid-column: 1 / span 4 !important;
    }
    .a-apartments > .services
    {
        grid-row: 3 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        margin-bottom: 30px;
        
    }
    .ads-right
    {
        top: 0;
        display: none;
    }
    footer.apartments
    {
        grid-template-columns: repeat(2, auto);
    }
    .yello-card
    {
        grid-column: 1 / 3;
    }
    .search-bar
    {
        flex-direction: column;
        height: 100px;
        padding: 10px 0;
    }
    .a-fav.signup-main
    {
        grid-template-columns: repeat(1, 1fr) !important;
        height: 700px;        
        justify-content: center;
        justify-items: center;
    }
    .aside
    {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .notice.signup
    {
        grid-row: 3 / 3;
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
}

@media all and (max-width: 845px)
{

    .notice.import
    {
        grid-column: 1 / 2;
        padding-right: 2px;
    }
    .a-fav.fav
    {
        grid-template-columns: repeat(1, 1fr) !important;
        justify-items: center;
    }
    .self-form
    {
        margin-bottom: 40px;
    }


    .menu
    {
        min-height: 0;
        padding-top: 10px;
    }
    .menu ul
    {
        grid-template-columns: 1fr;
        height: 0;
        margin-top: 30px;
        background-color: var(--bg-light-blue);
        background-image:linear-gradient(to bottom,  rgba(133, 130, 130, 0.6),  var(--bg-blue), var(--bg-blue));
        position: relative;
        z-index: 999;
        transition: 300ms all;
    }
    .m-6
    {
        display: none !important;
    }
    .menu ul li
    {
        border: none !important;
    }
    .menu ul li a
    {
        
        width: 100%;
    }
    .s-menu > div a
    {
        border: none;
    }
    .s-menu
    {
        flex-direction: column;
    }
    .menu-button
    {
        display: block;
    }
    input:checked ~ .menu-ul
    {
        color: red;
        height: 165px;
    }
    footer.landing
    {
        grid-template-columns: repeat(2, auto);
    }
    ._reasestate
    {
        display: none;
    }
}

@media all and (max-width: 770px)
{
    .grid-policy.landing
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'cars cars'
        'real  services'
        'misc services'
        'jobs services'
        'ads services';
    }

}
@media all and (max-width: 550px)
{
    .search-bar
    {
        flex-direction: column;
        height: 170px;
        padding: 10px 0;
        justify-content: center;
        text-align: center;
    }
    .search > button
    {
        margin: 10px 0;
    }
    
    .top
    {
        flex-direction: column;
    }

    .apar-menu
    {
        display: none;
    }
    .s-menu
    {
        margin-bottom: 16px;
    }
    .f-row
    {
        flex-direction: column;
    }
    .f-row img
    {
        object-fit: contain;
        /* height: 200px; */
    }
    .notice.signup
    {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    footer.landing
    {
        grid-template-columns: 1fr !important;
    }
    .grid-policy.landing
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'cars'
        'real'
        'misc'
        'jobs'
        'services'
        'ads';
    }
    .slider
    {
        background-size: cover;
    }
}